config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db


#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
/UITests/bin
/UITests/obj
/packages
/Calendar/obj
/Calendar/bin
/Calendar.Droid/bin/
/Calendar.Droid/obj/
/Droid/.DS_Store
/iOS/bin
/iOS/obj
/iOS/.DS_Store
.vs/Calendar/v14/.suo
/Calendar.ServiceTests/bin
/Calendar.ServiceTests/obj
Calendar/Calendar/obj/
Calendar/Calendar.Droid/obj/
Calendar/Calendar.Droid/bin/
Calendar/Calendar.iOS/obj/
Calendar/Calendar.iOS/bin/
Calendar/Calendar/bin/
Calendar/Calendar.UWP/obj/
